<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        button{
            padding: 50px;
            background-color: purple;
            color: white;
            position: relative;
            left: 250px;
            top: 200px;
            border: 2px inset purple;
            border-radius: 100%;
        }
        a{
            padding: 30px;
        }
    </style>
</head>
<body>
    <a href="{%url 'user'%}"><button>Register</button></a> 
    <a href="{%url 'login'%}"><button>Login</button></a>
    <a href="{%url 'logout'%}"> <button>Logout</button></a>
    <a href="{%url 'main'%}"><button>Main</button></a>
    
</body>
</html>