<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    button{
        background-color:midnightblue;
        padding: 80px;
        position: relative;
        left: 300px;
        top: 200px;
        border: 2px inset midnightblue;
        border-radius: 90px ;
        color: white;
        font-size: large;

    }
    a{
        padding: 50px;
    }
    </style>
</head>
<body>
    <a href="{%url 'files'%}"><button>Users</button></a>
    <a href="{%url 'app'%}"><button>Appiances</button></a>
</body>
</html>